certs/*
event.json
certs_output.json
response.json
backend/.env
backend/cdk/*.js
backend/cdk/!jest.config.js
backend/cdk/*.d.ts
backend/node_modules
backend/coverage

# CDK asset staging directory
backend/cdk/.cdk.staging
backend/cdk/cdk.out
board/data/config
board/data/certs
backend/dist
board/.pio
dashboard/node_modules/
dashboard/.pnp
dashboard/.pnp.js

# testing
dashboard//coverage

# production
dashboard//build

# misc
dashboard/.DS_Store
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local
dashboard/node_modules
dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/.env
board/data/mqtt.json
board/.vscode/extensions.json
.vscode/settings.json
dashboard/dist/*
backend/cdk/cdk.context.json
node_modules/*
backend/cdk.out/*
.github/instructions/instructions.md.instructions.md
AGENTS.md
.idea/
.vscode/
board/.pio
board/.vscode
board/.farm
board/agents
homepage/node_modules/
homepage/dist/assets/**
homepage/src/media
homepage/dist/media/
homepage/dist/media/*.mp4
homepage/public/media/output.mp4
homepage/public/media/rain.mp4
homepage/public/media/couple_output.mp4
dashboard/src/.App.tsx.swp
.continue/agents/*.yaml
agents/tasks/venv/*
agents/tasks/.env
agents/tasks/tickets/*
agents/tasks/coder_output/*
agents/tasks/src/__pycache__/*
agents/tasks/coder_output/
homepage/dist/rain.footer.h264.mp4
homepage/dist/*
board/webui-react/node_modules/*
dashboard/env/.env
