simulator/*
certs/*
event.json
certs_output.json
response.json
backend/.env
backend/cdk/*.js
backend/cdk/!jest.config.js
backend/cdk/*.d.ts
backend/node_modules

# CDK asset staging directory
backend/cdk/.cdk.staging
backend/cdk/cdk.out
board/data/*
backend/dist
board/.pio